@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../glyphicons-halflings-regular.eot');
  src: url('../glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../glyphicons-halflings-regular.woff2') format('woff2'), url('../glyphicons-halflings-regular.woff') format('woff'), url('../glyphicons-halflings-regular.ttf') format('truetype'), url('../glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    background-color: #f5f5f5;
}

body.modal-open {
    overflow: auto;
}

body nav li a span {
    padding-right: 5px;
}

body nav.showed+main  {
    margin-top: 50px;
    padding-top: 20px;
}

main {
    background-color: white;
}

footer {
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #e7e7e7;
}

footer ul {
    padding: 0px;
    margin: 0px;
}

footer li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}

footer li a {
    padding-left: 40px;
    display: inline-block;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: left center;
}

.icon-twitter {
    background-image: url('../icons/twitter.png');
}
.icon-google-plus {
    background-image: url('../icons/googleplus.png');
}
.icon-github {
    background-image: url('../icons/github.png');
}
.icon-linkedin {
    background-image: url('../icons/linkedin.png');
}
.icon-stackoverflow {
    background-image: url('../icons/stackoverflow.png');
}
.icon-mdn {
    background-image: url('../icons/mdn.png');
}
.icon-gitter {
    background-image: url('../icons/gitter.png');
}

footer p {
    margin: 0px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.only-print {
    display: none;
}

@media print {
    body > nav,
    body > footer {
        display: none;
    }

    .no-print {
        display: none !important;
    }

    .only-print {
        display: block;
    }

    body nav.showed+main  {
        margin-top: 0;
        padding-top: 0;
    }

    .panel.panel-default {
        border: 0;
    }

    .panel-default .panel-body {
        padding: 0;
    }

    h2 {
        margin-top: 0;
    }
}