<p>Développeur web chez Geneanet en CDI.</p>

<ul class="no-print">
    <li>Finalisation, évolution et maintenance des moteurs de recherche.</li>
    <li>Création d'outils pour aider les utilisateurs à débloquer leur généalogie.</li>
    <li>Mise en place d'aide pour les utilisateurs afin d'améliorer leur recherche.</li>
    <li>Refonte de diverses briques (cartes postales, cimetières, etc).</li>
    <li>Mise en place d'un mini-site permettant aux nouveaux utilisateurs de retrouver leur généalogie déjà sur le site.</li>
    <li>Mise en place d'autopromo personnalisées par utilisateurs en fonction de leur recherche.</li>
    <li>Mise en place de pages thématisées sur les métiers.</li>
    <li>Mise en place d'une extension Chrome.</li>
    <li>Mise en place d'une page en mode "frise chronologique" pour retracer les grands moments de l'Hitoire.</li>
    <li>Teste d'une semaine sur BabylonJS.</li>
</ul>

<p class="only-print">
    Travail autour des outils de recherches : évolution et maintenance des moteurs de recherche. Mise en place d'outils pour effectuer des recherches en automatiques aidant les utilisateurs à débloquer leur généalogie. Ajout d'aides pour que les utilisateurs puissent affiner leurs cherches. Mise en place d'un mini-site permettant aux nouveaux utilisateurs de retrouver leur généalogie déjà sur le site. Mise en place d'autopromo personnalisées par utilisateurs en fonction de leur recherche. Mise en place de pages thématisées sur les métiers. Mise en place d'une extension Chrome. Mise en place d'une page en mode "frise chronologique" pour retracer les grands moments de l'Hitoire.
</p>