<p>Dans le but d'améliorer mes connaissances en développement web, j'ai suivi la licence web pro à l'INSSET de Saint-Quentin (02).</p>

<p>
    Durant cette année, j'ai pu enrichir mes compétences dans différents domaines, tel que :
    <div class="only-print">
        Zend Framework 1 / Symfony 2. Intégration HTML et référencement. Méthodes agiles. Projets d'équipes.
    </div>
</p>
<ul class="no-print">
    <li>Zend Framework 1 / Symfony 2.</li>
    <li>JSF/JSP.</li>
    <li>Intégration HTML et référencement.</li>
    <li>Présentation des méthodes agiles.</li>
    <li>Projet en équipe de 5-6 personnes en répartissant les rôles par spécialités.</li>
    <li>Projet personnel avec Zend Framework 1 pour gagner en autonomie.</li>
</ul>