<p>L'objectif du stage était de refondre intégralement le site Geneastar dans le but d'utiliser le nouveau framework maison ainsi que de modérniser l'interface utilisateur pour une meilleure expérience.</p>

<p>Première expérience de développeur dans une entreprise, cela m'a permis d'acquérir des connaissances techniques ainsi que de suivre un projet du début à la fin.</p>

<p>J'ai ainsi pu participer aux réunions sur le projet pour débattre des fonctionnalités. J'ai également gagné en autonomie en étant seul responsable du projet.</p>