<div id="contact" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <section class="row">
                <article class="col-xs-12 col-sm-7">
                    <h3 class="no-margin-top">Prendre contact par mail</h3>
                    <p>boucaut.christophe[AT]gmail.com</p>
                    <h3>Prendre contact via les réseaux sociaux</h3>
                    <ul>
                        <li>
                            <a class="icon-twitter" href="https://www.twitter.com/Boucaut_C" target="_blank">
                                Twitter: Boucaut_C
                            </a>
                        </li>
                        <li>
                            <a class="icon-google-plus" href="https://plus.google.com/+ChristopheBoucaut" target="_blank">
                                Google+: +ChristopheBoucaut
                            </a>
                        </li>
                        <li>
                            <a class="icon-linkedin" href="https://www.linkedin.com/pub/christophe-boucaut/42/a01/60" target="_blank">
                                Linkedin: christophe-boucaut
                            </a>
                        </li>
                    </ul>
                </article>
                <aside class="col-xs-12 col-sm-5">
                    <a class="twitter-timeline" href="/Boucaut_C/timelines/568392628748972032" data-widget-id="569216176035999744">christophe-boucaut.fr</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </aside>
            </section>
        </div>
    </div>
</div>