<div id="contact" class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <section class="row">
                <article class="col-xs-12 col-sm-7">
                    <h3 class="no-margin-top">Prendre contact par mail</h3>
                    <p>boucaut.christophe[AT]gmail.com</p>
                </article>
                <aside class="col-xs-12 col-sm-5">
                    <h3 class="no-margin-top">Réseaux sociaux</h3>
                    <ul>
                        <li>
                            <a class="icon-twitter" href="https://www.twitter.com/Boucaut_C" target="_blank">
                                Twitter: Boucaut_C
                            </a>
                        </li>
                        <li>
                            <a class="icon-linkedin" href="https://www.linkedin.com/in/christopheboucaut" target="_blank">
                                Linkedin: christophe-boucaut
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/ChristopheBoucaut" target="_blank" class="icon-github">
                                Github : ChristopheBoucaut
                            </a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/4538695/shimrra" target="_blank" class="icon-stackoverflow">
                                Stack Overflow : Shimrra
                            </a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/fr/profiles/ChristopheBoucaut" target="_blank" class="icon-mdn">
                                MDN : Shimrra
                            </a>
                        </li>
                    </ul>
                </aside>
            </section>
        </div>
    </div>
</div>