<section id="homepage" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 style="margin: 0px;">Christophe Boucaut - Développeur web, Paris</h1>
        </div>
        <div class="panel-body">
            <p class="lead">Actuellement en poste chez <a href="https://www.campings.com/fr/" title="Site de réservation dans les campings." target="_blank">Campings.com</a>, j'ai obtenu un master <a href="http://www.insset.u-picardie.fr/formations/master-informatique/master-ccm" title="Master Cloud Computing & Mobility." target="_blank">CCM à l'INSSET en 2015</a>.</p>
            <p class="lead">
                Je développe principalement avec des technologies du web (PHP / Symfony, Javascript, Bootstrap / Foundation) mais également des applications mobiles (Cordova et plugin natif android). Je suis un grand fan d'Elasticsearch et adepte de l'opensource. Je cherche principalement à enrichir mon côté <u>ops</u> de devops.
            </p>
            <p class="lead">
                Je complète mes connaissances via une veille technologique et l'apprentissage en autodidacte des dernières nouveautés. Je suis ainsi capable d'offrir de nouvelles solutions pour les problématiques rencontrées.
            </p>
        </div>
    </div>
</section>
