<p>Dans le cadre d'un cours lancé par l'agglomération de Saint-Quentin (02) et organisé sous forme d'Hackathon, j'ai participé au développement de CloudIn'tra.
</p>

<p>Durant cet semaine de développement, j'ai développé le site vitrine du projet via Symfony 2 (ce qui fut ma première expérience concrète avec ce framework).</p>

<p>Le projet CloudIn'tra a fini à la troisième place du concours. J'en garde le souvenir d'une précision et d'une ambiance agréable permettant de se motiver à coder plusieurs jours et nuits d'affilés.</p>