<p>Pour la fin de ma formation scolaire, j'ai décidé d'entreprendre l'obtention du master Cloud Computing & Mobility à l'INSSET de Saint-Quentin (02).</p>

<p>
    Durant ces deux ans, j'ai pu explorer plusieurs domaines, tel que :
    <div class="only-print">
        Déploiement Amazon EC2 (avec Fabric). Développement Android/iOS natif. Méthode agiles. Sensibilisation à la sécurité. Utilisation d'openstack (installation, utilisation, développement de modules). Google apps. Rédaction de rapports sur l'états de certaines technologies.
    </div>
</p>
<ul class="no-print">
    <li>Déploiement sur Amazon EC2 (avec bonnes pratiques de mise à jour du code comme avec Fabric).</li>
    <li>Développement Android et iOS natif.</li>
    <li>Initiation à emberJS.</li>
    <li>Apprentissage des règles du développement agile et mise en place de méthodes d'exemples pour un développement avec Kanban.</li>
    <li>Sensibilisation à la sécurité serveur (tests d'outils pour diagnostiquer des failles).</li>
    <li>Développement de module openstack.</li>
    <li>Présentation de Salesforce.</li>
    <li>Utilisation de Google Apps et ses différents outils / API.</li>
    <li>Veille technologique autour de sujets.</li>
    <li>Rédaction de documents présentants une technologie.</li>
</ul>