<p>Après mon bac, j'ai décidé de m'orienté vers le développement. J'ai ainsi suivi le DUT informatique à Villetaneuse pendant deux ans. Cela m'a permit d'acquérir des premières connaissances en développement et en organisation de projets, tel que :</p>

<ul>
    <li>Java (cli & graphique)</li>
    <li>Python (cli)</li>
    <li>C (cli)</li>
    <li>Base en système (Unix)</li>
    <li>HTML/CSS/JS</li>
    <li>PHP</li>
    <li>Postgresql</li>
    <li>Réseau</li>
    <li>Génie logicielle</li>
    <li>Cours d'économie</li>
</ul>