<p>Stage de fin de licence web pro, j'ai développé une nouvelle boutique en ligne pour l'entreprise Geneanet avec le CMS Prestashop. Dans cet objectif, j'ai réalisé :</p>

<ul>
    <li>Le développement de modules.</li>
    <li>Modification d'un thème prestashop pour l'adapter aux besoins et aux couleurs du site.</li>
    <li>Surcharge <strong>PROPRE</strong> du coeur de Prestashop.</li>
    <li>Participation sur Github au projet Prestashop pour fixer des bugs.</li>
    <li>Création d'un extranet permettant la gestion du catalogue produit, des commandes, etc en fonction des vendeurs (la boutique est une galerie marchande, à l'image d'Amazon). Les communications avec Prestashop se font via les webservices.</li>
</ul>

<p>De plus, j'ai appliqué durant ce stage la méthode SCRUM pour organiser le déroulement du projet.</p>